#
*.d
*.o
*.exe
*.log
*.pyc
bin/*
*/bin/*
target/work/*
.pydevproject
test_logs_*
#venus
verification/venus/dp/output
# packaging:
*.deb
*.changes
package/debian/alvs
package/debian/files
package/build-stamp
