#
*.d
*.o
*.exe
*.log
*.pyc
bin/*
*/bin/*
target/work/*
.pydevproject
test_logs_*
#venus
verification/venus/dp/output
# packaging:
*.deb
*.tar.gz
package/*.changes
package/*.dsc
package/*.tar.gz
package/alvs/debian/alvs
package/alvs/debian/files
package/atc/debian/atc
package/atc/debian/files
package/build-stamp
#misc
log/
logs/
verification/testing/dp/pcap_files/
verification/testing/lists/failed_tests
