#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

######################################
# Definitions
######################################
# files
ALVS_BIN				= $(CURDIR)/../bin
ALVS_DP_BIN				= $(ALVS_BIN)/alvs_dp
ALVS_DAEMON_BIN			= $(ALVS_BIN)/alvs_daemon

# destination
DEST_BASE				= $(CURDIR)/debian/alvs
ALVS_DP_BIN_DEST		= $(DEST_BASE)/usr/lib/alvs/
ALVS_DAEMON_BIN_DEST	= $(DEST_BASE)/usr/sbin/


######################################
# ALVS Utilities
######################################
define copy_alvs_files=
	
	# create mirror folders
	# ---------------------
	# Bins
	mkdir -m 775 -p $(ALVS_DP_BIN_DEST)
	mkdir -m 775 -p $(ALVS_DAEMON_BIN_DEST)
	# Scripts
	mkdir -m 775 -p $(DEST_BASE)/usr/share/alvs/
	# config
	mkdir -m 775 -p $(DEST_BASE)/etc/rsyslog.d/
	mkdir -m 775 -p $(DEST_BASE)/etc/sysctl.d/
	mkdir -m 775 -p $(DEST_BASE)/etc/network/interfaces.d/
	
	# copy files to mirror folders
	# ----------------------------
	# bins
	install -m 775 $(ALVS_DP_BIN)* $(ALVS_DP_BIN_DEST)
	install -m 775 $(ALVS_DAEMON_BIN)* $(ALVS_DAEMON_BIN_DEST)
	# config
	cp -f $(CURDIR)/cfg/alvs_rsyslog.conf  $(DEST_BASE)/etc/rsyslog.d/alvs.conf
	cp -f $(CURDIR)/cfg/alvs_sysctl.conf   $(DEST_BASE)/etc/sysctl.d/alvs.conf
	cp -f $(CURDIR)/cfg/alvs_network.conf  $(DEST_BASE)/etc/network/interfaces.d/alvs.conf
	
endef


######################################
# debian rutines
######################################
build: build-stamp
build-stamp:
	dh_testdir

	# Add here commands to compile the package.
	#$(MAKE)

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	# Add here commands to clean up after the build process.
	#-$(MAKE) clean
	#-$(MAKE) distclean

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	# Add here commands to install the package into debian/<packagename>.
	#$(MAKE) prefix=`pwd`/debian/`dh_listpackages`/usr install
	$(copy_alvs_files)

	
# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
#install init, but do not modify postinst/postrm/prerm scripts
	dh_installinit -n
	dh_compress
	dh_fixperms
	dh_installdeb
	echo /etc/default/alvs > $(DEST_BASE)/DEBIAN/conffiles
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install
# We have nothing to do by default.

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
