<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.ezchip.ezide.launchConfigurationType.hardware">
<stringAttribute key="USER_DEFINED_CONTROL_PLANE_APPLICATION" value="alvs_cp/Release/alvs_cp"/>
<booleanAttribute key="USE_USER_DEFINED_CONTROL_PLANE_APPLICATION" value="true"/>
<stringAttribute key="com.ezchip.ezide.host.launch.LOG_LEVEL_INFO!" value=""/>
<stringAttribute key="com.ezchip.ezide.host.launch.USER_DEFINED_CONTROL_PLANE_APPLICATION_ARGUMENTS!" value=""/>
<stringAttribute key="com.ezchip.ezide.host.launch.configScriptArgs" value="${cp_ip} ${cp_agent_port} ${ezdk_base}"/>
<stringAttribute key="com.ezchip.ezide.sim.launch.CONTROL_PLANE_AGENT_PORT!" value=""/>
<stringAttribute key="com.ezchip.ezide.sim.launch.CONTROL_PLANE_CONNECTION_INFO_SOURCE!" value="STATIC"/>
<stringAttribute key="com.ezchip.ezide.sim.launch.CONTROL_PLANE_HOST_NAME!" value="127.0.0.1"/>
<stringAttribute key="com.ezchip.ezide.sim.launch.CONTROL_PLANE_PORT_FILE_FOLDER!" value="/tmp/control_plane"/>
<stringAttribute key="com.ezchip.ezide.sim.launch.CONTROL_PLANE_VPCI_INTERRUPT_PORT!" value=""/>
<stringAttribute key="com.ezchip.ezide.sim.launch.CONTROL_PLANE_VPCI_PORT!" value=""/>
<booleanAttribute key="com.ezchip.ezide.sim.launch.LAUNCH_STAGES.LOAD_CONFIGURATION!" value="false"/>
<booleanAttribute key="com.ezchip.ezide.sim.launch.LAUNCH_STAGES.RUN_CONTROL_PLANE_APPLICATION!" value="true"/>
<stringAttribute key="com.ezchip.ezide.sim.launch.WORK_FOLDER!" value="demo_target/work"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="alvs_cp/Release/alvs_cp"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="demo_target"/>
<stringAttribute key="org.eclipse.debug.core.ATTR_PRERUN_CMDS" value="bsp_nps_power -r por"/>
<booleanAttribute key="org.eclipse.debug.core.ATTR_SKIP_DOWNLOAD_TO_TARGET" value="false"/>
<stringAttribute key="org.eclipse.debug.core.ATTR_TARGET_PATH" value="/tmp/alvs_cp"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/demo_target"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.debug.core.REMOTE_TCP" value="Local"/>
<stringAttribute key="pythonConfigFile" value="demo_target/config/config_main.py"/>
</launchConfiguration>
